In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
file = "/Users/Regina/Python-Pandas-Challenge/Pandas-Project/Mini-Project-Part-2/Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [3]:
# Read with pandas--low_memory required to suppress errors about mixed data types
coder_data = pd.read_csv(file,encoding= 'iso-8859-1',low_memory=False)
coder_data.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [4]:
# Take only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
adjusted_coder = coder_data.iloc[:,[0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
adjusted_coder.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [5]:
# Change reading 0 and 1 to No and Yes, respectively
adjusted_coder = adjusted_coder.replace({0.0: "No", 1.0: "Yes"})
adjusted_coder.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [6]:
# Extract rows for only those who attended a bootcamp
attendance = adjusted_coder.loc[adjusted_coder["AttendedBootcamp"] == "Yes"]
attendance.count()

Age                     818
AttendedBootcamp        953
BootcampFinish          933
BootcampFullJobAfter    635
BootcampLoanYesNo       934
BootcampPostSalary      330
BootcampRecommend       937
ChildrenNumber          148
CityPopulation          823
CodeEventBootcamp        27
CountryLive             825
EmploymentField         476
EmploymentStatus        792
Gender                  833
HasChildren             211
HoursLearning           925
Income                  430
JobRoleInterest         402
SchoolDegree            832
SchoolMajor             622
dtype: int64

In [7]:
# Create DataFrame of the different boot camps that had a significant number of attendees
bootcamp_name = pd.DataFrame(coder_data["BootcampName"].value_counts())

bootcamp_name.reset_index(inplace=True)
bootcamp_name.columns = ["BootcampName", "Count"]

bootcamp_name.head()

            BootcampName  Count
0       General Assembly     90
1        Flatiron School     54
2           Dev Bootcamp     48
3          The Iron Yard     40
4  Prime Digital Academy     30

In [8]:
# Count how many attendees of each bootcamp would recommend the bootcamp
recommend_bootcamp = attendance.replace({"Yes": 1, "No": 0})
recommend_bootcamp = pd.DataFrame(coder_data.groupby("BootcampName")["BootcampRecommend"].sum())

recommend_bootcamp.reset_index(inplace=True)
recommend_bootcamp.columns = ["BootcampName", "Recommenders"]

recommend_bootcamp.head()

            BootcampName  Recommenders
0             10x.org.il           3.0
1         4Geeks Academy           4.0
2               AcadGild           2.0
3    Academia de CÃƒÂ³digo           4.0
4  Academic Work Academy           0.0

In [9]:
# Merge the two created data frames on the name of tbe bootcamp
merged_df = pd.merge(bootcamp_name, recommend_bootcamp, on="BootcampName")
merged_df.head()

            BootcampName  Count  Recommenders
0       General Assembly     90          70.0
1        Flatiron School     54          50.0
2           Dev Bootcamp     48          41.0
3          The Iron Yard     40          31.0
4  Prime Digital Academy     30          25.0

In [10]:
# Calculate percentage of eac bootcamp's students who are recommenders
merged_df["% Recommend"] = merged_df["Recommenders"] / merged_df["Count"] * 100
merged_df = merged_df.sort_values(["% Recommend"], ascending=False).round(2)
merged_df["% Recommend"] = merged_df["% Recommend"].map("{0:,.2f}%".format)

merged_df.head(50)

,BootcampName,Count,Recommenders,% Recommend
127,Le Wagon,1,1.0,100.00%
105,Base10 Academy,1,1.0,100.00%
35,Fullstack Academy,6,6.0,100.00%
101,Ruby On The Beach,1,1.0,100.00%
100,Science to Data Science,1,1.0,100.00%
99,The Data Incubator,1,1.0,100.00%
42,devCodeCamp,4,4.0,100.00%
98,Coder's Lab,1,1.0,100.00%
97,DESIGNATION,1,1.0,100.00%
96,Code Institute,1,1.0,100.00%
95,AngelHack Education,1,1.0,100.00%
94,Betamore,1,1.0,100.00%
48,Academia de CÃƒÂ³digo,4,4.0,100.00%
93,CodeCraft School,1,1.0,100.00%
91,Stackademy,1,1.0,100.00%
90,Founders & Coders,1,1.0,100.00%
89,Omaha Code School,2,2.0,100.00%
88,Telegraph Academy,2,2.0,100.00%
87,Eleven Fifty Academy,2,2.0,100.00%
84,We Got Coders,2,2.0,100.00%
56,Grand Circus,3,3.0,100.00%
57,Dev League,3,3.0,100.00%
83,Code Platoon,2,2.0,100.00%
82,EHD Academy,2,2.0,100.00%
81,BoiseCodeWorks,2,2.0,100.00%
79,Coder Factory,2,2.0,100.00%
78,DigitalCrafts,2,2.0,100.00%
75,CODEcamp Charleston,2,2.0,100.00%
73,Big Nerd Ranch,2,2.0,100.00%
71,Codecademy Labs,2,2.0,100.00%
67,Grace Hopper Academy,3,3.0,100.00%
69,AcadGild,2,2.0,100.00%
104,Coder Foundry,1,1.0,100.00%
106,CodeMasters Academy,1,1.0,100.00%
113,Claim Academy,1,1.0,100.00%
126,Byte Academy,1,1.0,100.00%
123,Operation Spark,1,1.0,100.00%
121,Origin Code Academy,1,1.0,100.00%
120,Austin Coding Academy,1,1.0,100.00%
118,Code Union,1,1.0,100.00%
116,Code 42,1,1.0,100.00%
108,Ladies Learning Code,1,1.0,100.00%
18,Dev Academy,13,13.0,100.00%
19,Makers Academy,12,12.0,100.00%
114,SeedPaths,1,1.0,100.00%
68,LEARN Academy,3,3.0,100.00%
29,CodeaCamp,8,8.0,100.00%
24,Viking Code School,10,10.0,100.00%
109,Launch School (formerly Tealeaf Academy),1,1.0,100.00%
112,Microsoft Research Data Science Summer School,1,1.0,100.00%

In [11]:
# Export to excel and remove index
merged_df.to_excel("c:/Users/Regina/Python-Pandas-Challenge/Pandas-Project/Mini-Project-Part-2/output/project_part_two.xlsx", index=False)